.style1 {
    margin-bottom:35px !important;
}

.style2 {
    width: 25px; height:25px;
}

.style3 {
    width:100%; margin-top:1.5rem;
}

.stylenone {
    display: none;
}

.styleblock {
  display: inline-block;
}

.eyeInput {
    padding: 0;
    display: flex;
    overflow: hidden;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .eyeInput input {
    width: 90%;
    height: 100%;
    outline: none;
    border: none;
    padding-left: 20px;
  }

  .eyeInput .eyeIcon {
    width: 10%;
    border-left: 1px solid #cacaca;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .eyeIcon svg {
    height: 100%;
  }

  .googleIcon {
    width: 23px;
    height: 23px;
    margin-right: 6px;
    fill: #ffffff;
  }

  .opacityset {
    -webkit-transform: translate3d(0, 100px, 0) scale3d(0.8, 0.8, 1)
            rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
          -moz-transform: translate3d(0, 100px, 0) scale3d(0.8, 0.8, 1)
            rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
          -ms-transform: translate3d(0, 100px, 0) scale3d(0.8, 0.8, 1)
            rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
          transform: translate3d(0, 100px, 0) scale3d(0.8, 0.8, 1) rotateX(0)
            rotateY(0) rotateZ(0) skew(0, 0);
          opacity: 1;
  }

  .pagewrap {
    margin-top: -180px;
  }