/* .hero-main-cnt .row{
  margin-top: 20px;
} */

.container-hero {
  margin-top: 20px;
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid #ddd; 
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-left:15%;
  margin-right: 15%;
}

.row-hero {
  display: flex; /* Use flexbox for layout */
  justify-content:space-evenly; /* Space out children */
  /* gap: 15px;  */
}

.hero-left,
.hero-right {
  flex: 1; /* Allow both left and right sections to grow equally */
  min-width: 200px; /* Minimum width for responsiveness */
}

.banner-hero {
  flex: 2; /* Center section takes more space */
  min-width: 300px; /* Minimum width for responsiveness */
}
