/*Banner section CSS*/
.trial-lotty-animation{
  margin-top: -700px;
}

.trial-lotty-animation-men{
  margin-top: -700px;
}

.stylenone {
  display: none;
}

/*Filter Card section CSS*/
.filter_cards {
  width: 100%;
  display: grid;
  gap: 3rem;
  flex-wrap: wrap;
  grid-template-columns: repeat(3, 1fr);
  padding: 2rem 4rem;
}

.filter_card {
  /* border: 4px solid linear-gradient(#163cf4, #16b1f4) 20; */
  /* border-image: linear-gradient(#163cf4, #16b1f4) 20;
  border-width: 4px;
  border-style: solid;
  border-radius: 2rem !important; */
  min-height: 50vh;
  display: flex;
  width: 100%;

  border-radius: 2rem;
  border: 4px solid transparent;
  background: linear-gradient(45deg, #163cf4, #16b1f4) border-box;
  /* -webkit-mask:
  linear-gradient(#fff 0 0) padding-box,
      linear-gradient(#fff 0 0); */
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  box-shadow: 0px 10px 20px #cacaca;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.filter_card:hover {
  padding-bottom: 1rem;
  transform: scale(1.05);
}

.filter_card_content {
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 2rem 2rem;
  border-radius: 1.9rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.filter_card h3 {
  font-size: 1.4rem;
  text-align: center;
}

.filter_card ul {
  margin-top: 2rem;
  list-style: none;
  text-align: center;
  padding: 0 0 40px 0 !important;
}

.filter_card ul li {
  list-style: none;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.filter_card ul li a {
  text-decoration: underline;
  color: #111;
  font-weight: 500;

}

.filter_card ul li a:hover {
  color: #15ef;
}

.filter_card .filter_icon_box {
  position: absolute;
  bottom: -3rem;
  background-color: #15ef;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter_card .filter_icon_box img {
  width: 70%;
  height: 70%;
  object-fit: contain;
}

.filter_heading {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
}

.border_line {
  width: 220px;
  height: 5px;
  background-color: #163cf4;
  margin-top: 40px;
}

.filter_heading h2 {
  font-size: 3rem !important;
  text-align: center;

}

@media screen and (max-width: 997px) {
  .filter_cards {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 5rem;
      justify-items: center;
      padding: 2rem 1rem;
  }

  .filter_card_content {
      padding: 2rem 1.4rem;
  }

  .filter_card .filter_icon_box {
      width: 90px;
      height: 90px;
      bottom: -2rem;
  }

}

@media screen and (max-width: 667px) {
  .filter_cards {
      grid-template-columns: repeat(1, 1fr);
      padding: 2rem 1rem;

  }
}



/*Review section CSS*/
.review {
  color: #ffffff;
}

.opacity {
  opacity: 1;
}

.reviewimageclass {
  width: 80px; height: 80px; object-fit:cover; object-position:center;
}

.reviewlogo {
  width: 150px; height: 50px; object-fit:contain;
}

.headingcolorreview {
  color: #ffffff;
}




/*Problem solving section CSS*/
.hiddenDiv {
  opacity: 1;
  transition: all 1.5s ease-in-out;
}

.visible {
  opacity: 1;
}

.content {
  /* max-height: 100vh; */
  text-align: center;
  padding-bottom: 2rem;
}

.content .title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.content h2 {
  text-align: center;
  font-size: 3rem;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.content .section_image {
  width: 100%;
  height: 100%;
  animation: moveImage 2s ease-in-out;
}

@keyframes moveImage {
  0% {
      transform: translateY(100%);
  }

  100% {
      transform: translateY(0%);
  }
}

.content .section_image {
  width: 100%;
  height: 100%;
}

.border_line {
  width: 220px;
  height: 5px;
  background-color: #163cf4;
  margin-top: 10px;
  margin-bottom: 2rem;
}

.p_s_section {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
  align-content: center;

}

.p_s_section img {
  margin-top: -1rem;
  opacity: 0;
  animation: fadeIn 1s forwards;
}

.p_s_section .section_image_1 {
  width: 100%;
  animation-delay: 0s;
}

.p_s_section .section_image_2 {
  width: 97%;
  margin-top: -1.6rem !important;
  animation-delay: 0.5s;
}

.p_s_section .section_image_3 {
  width: 94%;
  animation-delay: 1s;
}

.p_s_section .section_image_4 {
  width: 91%;
  animation-delay: 1.5s;
}

.p_s_section .section_image_5 {
  width: 88%;
  animation-delay: 2s;
}

.p_s_section .section_image_6 {
  width: 85%;
  animation-delay: 2.5s;
}


@keyframes fadeIn {
  to {
      opacity: 1;
  }
}

@media screen and (max-width: 997px) {
  .p_s_section img {
      margin-top: 0;
  }

  .p_s_section .section_image_1 {
      width: 95%;
  }

  .p_s_section .section_image_2 {
      width: 92%;
      margin-top: 0 !important;
  }

  .p_s_section .section_image_3 {
      width: 89%;
  }

  .p_s_section .section_image_4 {
      width: 86%;
  }

  .p_s_section .section_image_5 {
      width: 83%;
  }

  .p_s_section .section_image_6 {
      width: 80%;
  }
}


/*company seciton CSS*/
.sectionstyle{
  padding-bottom: 0px;
}

.companydescription{
  white-space: pre-line; text-align:justify
}

.viewcompany {
  all:unset;cursor:pointer;
}


/*Grituppflow section*/

.flow_container {
  margin-top: 4rem;
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}

.flow_grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.flow_grid .flow_col_1 {
  grid-column: span 2 / span 2;
  justify-items: start;
}

.flow_grid .flow_col_2 {
  grid-column: span 1 / span 1;
  justify-items: center;
  align-content: center;
}

.flow_grid .flow_col_2 h3 {
  font-size: 4.4vw;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-weight: 900;
  margin-left: 6rem;
}

.flow_grid .flow_col_2 h3 .flow {
  color: transparent;
  -webkit-text-stroke: #fff;
  -webkit-text-stroke-width: 2px;
  font-size: 6vw;
  line-height: 20px;
}

.toggleFlow {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
}

.toggleFlow li {
  cursor: pointer;
  color: #fff;
  font-size: 0.9rem;
  font-weight: 600;
  text-transform: uppercase;
  padding: 5px 25px;
  list-style: none;
  transition: all 0.4s ease-in-out;
}

.toggleFlow .active {
  background: linear-gradient(rgba(0, 27, 150, 0.8), rgba(21, 60, 245, 0));
  animation: activeShow 0.4s ease-in-out;
}

.flow_grid .flow_col_1 .flow_banner {
  width: 100%;
  height: 100%;
  /* margin-top: 2.5rem; */
  display: flex;
  justify-content: center;
  align-items: center;
  animation: activeShow 0.4s ease-in-out;
  position: relative;
}

.swiper-slide img {
  width: 100%;
  height: auto;
}

.swiper,
.swiper-wrapper {
  position: static;
}

.swiper-pagination {
  bottom: 3rem !important;
}

@keyframes activeShow {
  0% {
      opacity: 1;
  }

  100% {
      opacity: 1;
  }
}

@media screen and (max-width: 1024px) {
  .flow_grid {
      position: relative;
  }

  .flow_grid .flow_col_1 {
      grid-column: span 3 / span 3 !important;
  }

  .flow_grid .flow_col_2 {
      grid-column: span 3 / span 3;
  }

  .flow_grid .flow_col_2 h3 {
      font-size: 2rem;
      margin-left: 0rem;
      position: absolute;
      bottom: -3rem;
      right: 0;
  }

  .flow_grid .flow_col_2 h3 .flow {
      font-size: 2rem;
      -webkit-text-stroke-width: 1px;
      line-height: 20px;
  }

  .flow_grid .flow_col_1 .flow_banner {
      /* margin-top: 1rem; */
      padding-bottom: 5rem;
  }
}

@media screen and (mac-width: 447px) {
  .flow_container {
      margin-top: 4rem;
      padding-top: 10px !important;
      padding-bottom: 10px !important;
  }
}


/*Blog Section CSS*/

.blogdiscription {
  white-space: pre-line; text-align:justify
}