.category-list {
    list-style-type: none; /* Remove default bullet points */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
    overflow-y: scroll;
    height: 400px;
}

.category-list li {
    margin-bottom: 8px; /* Space between list items */
}

.category-item {
    display: block; /* Make the link fill the list item */
    padding: 3px 5px; /* Add padding for better click area */
    color: black; /* Text color */
    text-decoration: none; /* Remove underline from links */
    border-radius: 4px; /* Rounded corners */
    transition: background-color 0.3s; /* Smooth transition for hover */
}

.category-item:hover {
    background-color: #f0f0f0; /* Light gray background on hover */
}

/* .banner {
    position: relative; 
    width: 100%;
    height: 53.5vh;
    overflow: hidden;
}

.banner img {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    width: 100%;
    height: 100%;
    object-fit: cover; 
    transform: translate(-50%, -50%); 
} */

/* Media Queries for additional responsiveness */
@media (max-width: 768px) {
    .category-item {
        padding: 2px 20px;
        font-size: 14px;
    }
}

@media screen and (min-width:768px) and (max-width:1023px) {


}
